.Slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.Slide > h1 {
  flex-grow: 1;
  font-style: italic;
  font-weight: normal;
  font-size: 40px !important;
  margin-bottom: 16px !important;
  text-align: left;
}

.Slide > h3 {
  flex-grow: 1;
  text-align: right;
  font-style: italic;
  font-weight: normal;
  font-size: 20px !important;
  margin-bottom: 16px !important;
}

.Slide > .Body {
  display: flex;
  flex-basis: 100%;
  font-size: 24px;
  text-align: left;
  border-top: 1px solid orange;
  padding-top: 26px;
  flex-wrap: wrap;
}

.Slide > .Body > * {
  flex-basis: 100%;
}
